<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Виниловые пластинки Апатиты Кировск</title>
	<script src="https://unpkg.com/vue"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="favicon.ico" />
	<link href="style.css?20210423" rel="stylesheet">
	<!-- https://fontawesome.com/icons -->
	<link href="/wf/css/all.css" rel="stylesheet">
</head>

<body>
	<div id="app">
		<ul class="menu">
			<li>
				<input type="search" v-model="search" placeholder="Поиск">
			</li>
			<li>
				<a @click="sortParam='artists'" :class="sortParam==='artists'? 'act' : ''"
					title="Сортировать по исполнителю"><i class="fas fa-user-circle"></i></a>
				<a @click="sortParam='title'" :class="sortParam==='title'? 'act' : ''" title="Сортировать по альбому"><i
						class="fas fa-record-vinyl"></i></a>
				<a @click="sortParam='folder'" :class="sortParam==='folder'? 'act' : ''" title="Сортировать по цену"><i
						class="fas fa-ruble-sign"></i></a>
				<a @click="sortParam='year'" :class="sortParam==='year'? 'act' : ''" title="Сортировать по году"><i
						class="far fa-calendar-alt"></i></a>

				&nbsp;

				<a @click="sortASC= !sortASC">
					<i v-if="sortASC" class="fas fa-sort-alpha-down"></i>
					<i v-else class="fas fa-sort-alpha-up-alt"></i>
				</a>



				&nbsp; &nbsp; &nbsp;


				<a @click="showlist='t'" :class="showlist==='t'? 'act' : ''" title="Показать таблицу"><i
						class="fas fa-list"></i></a>
				<a @click="showlist='b'" :class="showlist==='b'? 'act' : ''" title="Показать картинки"><i
						class="fas fa-th"></i></a>
			</li>
			<li v-show="count>0">
				<label>
					<a>
						<input type="checkbox" v-model="selected">
						<i class="fas fa-shopping-cart"></i>
						<b>{{sum}}</b> руб,
						{{count}} шт
					</a>
				</label>
			</li>
		</ul>


		<div v-if="selected">
			<ol>
				<li v-for="x in sortedList" v-bind:key="x.id">
					<input type="checkbox" v-model="checkeds" :value="x.id">
					{{ x.artists }} &mdash; {{ x.title }} [{{ x.folder }}];
				</li>
			</ol>
		</div>


		<div v-else-if="showlist==='b'" v-for="x in sortedList" v-bind:key="x.id">
			<div class="item">
				<div class="clear">
					<div class="img">
						<label>
							<input type="checkbox" v-model="checkeds" :value="x.id">
							<img :src="x.thumb">
						</label>
						<div class="prs">
							<font class="rub">{{ x.folder }}</font>
						</div>
					</div>
					<div class="info">
						<p>{{ x.artists }} &mdash; {{ x.title }}</p>
						{{ x.year > 0 ? x.year + ' г.' : ''}}
						<i>{{x.labels}}</i>
						<p class="genres">
							<font>{{x.genres}}</font>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div v-else-if="showlist==='t'">
			<table>
				<tr>
					<th></th>
					<th :class="sortParam==='artists'? 'act' : ''" @click="sortParam='artists'"><i
							class="fas fa-user-circle"></i> Исполнитель</th>
					<th :class="sortParam==='title'? 'act' : ''" @click="sortParam='title'"><i
							class="fas fa-record-vinyl"></i> Альбом</th>
					<th :class="sortParam==='folder'? 'act' : ''" @click="sortParam='folder'"><i
							class="fas fa-ruble-sign"></i> Цена</th>
					<th :class="sortParam==='year'? 'act' : ''" @click="sortParam='year'"><i
							class="far fa-calendar-alt"></i> Год</th>
					<th>Лейбл</th>
					<th>Жанр</th>
				</tr>
				<tr v-for="x in sortedList" v-bind:key="x.id">
					<td><input type="checkbox" v-model="checkeds" :value="x.id"></td>
					<td>{{ x.artists }}</td>
					<td>{{ x.title }}</td>
					<td>
						<font class="rub">{{ x.folder }}</font>
					</td>
					<td>
						<nobr>{{ x.year > 0 ? x.year : ''}}</nobr>
					</td>
					<td>
						<nobr>{{x.labels}}</nobr>
					</td>
					<td class="genres">
						<font>{{x.genres}}</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<footer>
		Страницу сделал
		<a href="https://vk.com/ya432209" target="_blank">Руслан</a>
		(<a href="https://t.me/yakubovich" target="_blank">Telegram</a>)
	</footer>

	<script>

		const sortFNASC = {
			'artists': (a, b) => { return (a.artists.toLowerCase() > b.artists.toLowerCase()) ? 1 : -1; },
			'title': (a, b) => { return (a.title.toLowerCase() > b.title.toLowerCase()) ? 1 : -1; },
			'folder': (a, b) => { return (a.folder > b.folder) ? 1 : -1; },
			'year': (a, b) => { return (a.year > b.year) ? 1 : -1; }
		};
		const sortFNDESC = {
			'artists': (a, b) => { return (a.artists.toLowerCase() < b.artists.toLowerCase()) ? 1 : -1; },
			'title': (a, b) => { return (a.title.toLowerCase() < b.title.toLowerCase()) ? 1 : -1; },
			'folder': (a, b) => { return (a.folder < b.folder) ? 1 : -1; },
			'year': (a, b) => { return (a.year < b.year) ? 1 : -1; }
		};

		var app = new Vue({
			el: '#app',
			data: {
				search: '',
				sortParam: 'artists',
				sortASC: true,
				vinyls: [],
				checkeds: [],
				selected: false,
				showlist: 't',
			},
			created() {
				fetch('collection.json')
					.then(response => response.json())
					.then(json => {
						this.vinyls = json;
						this.vinyls.forEach(e => {
							e.year = +e.year;
							e.folder = e.notes ? +e.notes : +e.folder;
							e.checked = false;
							e.str = (e.artists + ' ' + e.title + ' ' + e.genres).toLowerCase();
						})
					})
			},
			methods: {
			},
			computed: {
				count() {
					if (this.checkeds.length == 0)
						this.selected = false;
					return this.checkeds.length;
				},
				sum() {
					var s = 0;
					this.vinyls.forEach(e => {
						if (this.checkeds.indexOf(e.id) != -1)
							s += e.folder
					})
					return s;
				},
				sortedList() {
					var srch = this.search.trim().toLowerCase();
					var v = [];

					if (this.selected)
						v = this.vinyls.filter(item => {
							return this.checkeds.indexOf(item.id) > -1
						})
					else
						v = !srch ? this.vinyls :
							this.vinyls.filter(item => {
								return item.str.indexOf(srch) > -1
							})
					if (this.sortASC)
						return v.sort(sortFNASC[this.sortParam])
					else
						return v.sort(sortFNDESC[this.sortParam])

				}
			}
		})

	</script>
	<!-- Yandex.Metrika counter -->
	<script
		type="text/javascript"> (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(71089129, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true });</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/71089129" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript> <!-- /Yandex.Metrika counter -->
</body>

</html>